/* Piechart.css */

.highcharts-container {
  background-color: rgb(79, 78, 78);
  padding: 1px;
  border-radius: 5px;
  width: 63%;

  position: absolute;
  left: 1340px;
  margin-top: -255px;
}

.donut-chart-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:110px -140px;
}

.donut-chart-title {
  position: absolute;
  color: #ffffff;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: -70px;
}
